.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #050608e0;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px rgba(250, 246, 246, 0.918);
  color: white;
  z-index: 100;
}

@media (max-width: 100px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
