@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #04070e;
  color: white;
  padding-top: 40px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 75px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: rgb(236, 8, 8);
  padding-top: 70px;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
